@import "./components/login.scss";
@import "./components/header.scss";
@import "./components/articlepreview.scss";
@import "./components/article.scss";
@import "./components/createarticle.scss";
@import "./components/profile.scss";
@import "./components/dropmenu.scss";
@import "./components/comment.scss";
@import "./components/userlist.scss";
@import "./components/footer.scss";

$primary: #ff6f61;
.App {
  text-align: center;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

body {
  background: white;
}

button:focus {
  outline: none;
}

#loading {
  height: 100vh;
}

#toTopBtn {
  display: block;
  width: 120px;
  height: 35px;
  border: none;
  background: $primary;
  color: white;
  font-weight: 600;
  font-size: 12px;
  cursor: pointer;
  margin: auto;
  margin-top: 100px;
  margin-bottom: -50px;
}
